.card {
  margin: 30px;
  min-height: 20rem;
}
.title {
  text-align: center;
}
form {
  display: flex;
  flex-direction: row;
  margin: 5px;
  border-radius: 5px;
  padding: 20px;
  background-color: #F6F6F6;
}


button {
  padding: 10px;
  height: 3em;
  background: #9147FF;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
}
.message-field {
  margin-right: 5px;
}
.message {
 
}
.render-chat {
  overflow-y: scroll;
  margin: 5px;
  border-radius: 5px;
  padding: 20px;
  background-color: #F6F6F6;
  max-height: 10em;
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

@media only screen and (min-width: 800px) {

}